*,*::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}

a{
	text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}