.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $primarycolor;
    display: flex;
    padding: 30px 88px;
    align-items: center;
    justify-content: space-between;
    &-logo-atag{
        background-image: url('../images/UI-Kit/logo-new_工作區域\ 1.png');
        width: 80px;
        height: 49px;
        display: block;
        background-size: contain;
        @include hide-text;
    }
    &-menu{
        display: flex;
        font-size: $font-5;
    }
    &-menu-atag{
        display: block;
        color: #fff;
        padding-left: 64px;
        &:hover{
            color: $font-dark;
        }
    }
}
@include ipad{
    .navbar{
        padding: 30px 39px;
        &-menu-atag{
            padding-left: 40px;
        }
    }
}
@include mobile{
    .navbar{
        flex-direction: column;
        padding: 0 0;
        &-logo{
            width: 100%;
            border-bottom: 1px solid #fff;
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }
        &-logo-atag{
            width: 48px;
            height: 29.14px;
            // padding: 10px 0;
            // padding 無效
        }
        &-menu{
            flex-wrap: wrap;
            width: 100%;
            font-size: $font-4;
            &-list{
                width: 50%;
                width: 50%;
                border: 1px solid #fff;
                margin-top: -1px;
                text-align: center;
            }
            &-atag{
                padding: 8px 0;
            }
        }
    }
}


.footer{
    padding-top: 32px;
    padding-bottom: 40px;
    background-color: $primarycolor;
    color: #fff;
}
.footer-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
//nav-link占比：100/12*9
.nav-link{
    display: flex;
    width: 75%;
}
.nav-link-aTag{
    display: block;
    color: #fff;
    padding-right: 48px;
}
.nav-link-aTag:hover{
    color: $font-dark;
}
.social-link{
    display: flex;
}
.social-link-aTag{
    display: block;
    padding-left: 32px;
}
// 好醜
.social-link-aTag:hover{
    img{
        background-color: $font-dark;
    }
}
.contact-link{
    font-weight: 400;
    font-size: $font-9;
    margin-bottom: 24px;
    margin-top: 42px;
}
.contact-aTag{
    color: #fff;
    span{
        margin-right: 16px;
        font-size: 48px;
        vertical-align: middle;
    }
}
.contact-aTag:hover{
    color: $font-dark;
}
.copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.copyright-link{
    display: flex;
}
.copyright-aTag{
    display: block;
    color: #fff;
    padding-left: 48px;
}
.copyright-aTag:hover{
    color: $font-dark;
}
@include ipad{
    .footer{
        padding: 32px 0;
    }
    .nav-link-aTag{
        padding-right: 40px;
    }
    .social-link-aTag{
        padding-left: 24px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    .contact-link{
        font-size: $font-5;
        margin-bottom: 20px;
        margin-top: 24px;
    }
    .contact-aTag{
        span{
            margin-right: 8px;
            font-size: 24px;
        }
    }
    .copyright{
        margin-top: 20px;
    }
    .copyright-aTag{
        padding-left: 24px;
    }
}
@include mobile{
    .footer{
        padding-top: 24px;
        padding-bottom: 16px; //24-8(p的mb 8px)
    }
    .footer-wrap{
        flex-direction: row-reverse;
        align-items: start;
    }
    .nav-link{
        display: none;
    }
    .social-link-aTag{
        img{
            width: 24px;
            height: 24px;
        }
    }
    .contact-link{
        font-size: $font-4;
        margin-top: 0px;
        margin-bottom: 24px;
    }
    .contact-aTag{
        span{
            margin-right: 4px;
            font-size: 20px;
        }
    }
    .copyright{
        margin-top: 16px;
        font-size: $font-3-half;
        display: block;
        p{
            margin-bottom: 8px;
        }
    }
    .copyright-link{
        display: block;
    }
    .copyright-aTag{
        padding-left: 0px;
    }
} 
