<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
</head>
<body>
    

    <%- contents %>

<!-- footer.footer>.container>(.footer-content-wrap>(ul.nav-link>li*5.nav-link-item>a.nav-link-aTag)+(ul.social-link>li*3.social-link-item>a.social-link-aTag>img.social-link-img)+(ul.contact>li*2>a.contact-aTag>span))+hr+.copyright>p+.copyright-link>p*2>a -->
<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <ul class="nav-link">
                <li class="nav-link-item"><a href="./index.html" class="nav-link-aTag">首頁</a></li>
                <li class="nav-link-item"><a href="./optical.html" class="nav-link-aTag">系列鏡框</a></li>
                <li class="nav-link-item"><a href="./location.html" class="nav-link-aTag">門市據點</a></li>
                <li class="nav-link-item"><a href="" class="nav-link-aTag">部落格</a></li>
                <li class="nav-link-item"><a href="./qa.html" class="nav-link-aTag">常見問題</a></li>
            </ul>
            <ul class="social-link">
                <li class="social-link-item"><a href="#" class="social-link-aTag"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg" alt="fb" class="social-link-img"></a></li>
                <li class="social-link-item"><a href="#" class="social-link-aTag"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg" alt="ig" class="social-link-img"></a></li>
                <li class="social-link-item"><a href="#" class="social-link-aTag"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg" alt="line" class="social-link-img"></a></li>
            </ul>
            <ul class="contact-link">
                <li><a href="" class="contact-aTag"><span class="material-icons-outlined">
                    phone
                    </span>0800-000-000</a></li>
                <li><a href="" class="contact-aTag"><span class="material-icons-outlined">
                    email
                    </span>glasses@business.com</a></li>
            </ul>
        </div>
        <hr>
        <div class="copyright">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="copyright-link">
                <p><a class="copyright-aTag" href="#">隱私權政策</a></p>
                <p><a class="copyright-aTag" href="#">服務條款</a></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>