.footer{
    padding-top: 32px;
    padding-bottom: 40px;
    background-color: $primarycolor;
    color: #fff;
}
.footer-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
//nav-link占比：100/12*9
.nav-link{
    display: flex;
    width: 75%;
}
.nav-link-aTag{
    display: block;
    color: #fff;
    padding-right: 48px;
}
.nav-link-aTag:hover{
    color: $font-dark;
}
.social-link{
    display: flex;
}
.social-link-aTag{
    display: block;
    padding-left: 32px;
}
// 好醜
.social-link-aTag:hover{
    img{
        background-color: $font-dark;
    }
}
.contact-link{
    font-weight: 400;
    font-size: $font-9;
    margin-bottom: 24px;
    margin-top: 42px;
}
.contact-aTag{
    color: #fff;
    span{
        margin-right: 16px;
        font-size: 48px;
        vertical-align: middle;
    }
}
.contact-aTag:hover{
    color: $font-dark;
}
.copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.copyright-link{
    display: flex;
}
.copyright-aTag{
    display: block;
    color: #fff;
    padding-left: 48px;
}
.copyright-aTag:hover{
    color: $font-dark;
}