.topNav{
    background-color: $primarycolor;
    // height: 108px;
    padding: 30px 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a{
        background-image: url('../images/UI-Kit/logo-new_工作區域\ 1.png');
        width: 80px;
        height: 49px;
        display: block;
        background-size: contain;
        @include hide-text;
    }
    .menu{
        display: flex;
        font-family: Noto Sans TC;
        font-size: $font-5;
        a{
            display: block;
            color: #fff;
            padding-left: 64px;
        }
    }
}
@include ipad(){
    .topNav{
        padding: 30px 39px;
        .menu a{
        padding-left: 40px;    
        }
    }
}
@include mobile(){
    .topNav{
        flex-direction: column;
        padding: 0 0;
        .logo a{
            // 如何增加點擊範圍？？？
            padding: 10px 0;
            margin: 10px 0;
            display: block;
        }
        .menu{
            flex-wrap: wrap;
            width: 100%;
            font-size: $font-4;
            li{
                width: 50%;
                border: 1px solid #fff;
                margin-top: -1px;
                // 如何移除中間那條線？
                a{
                    padding: 8px 0;
                    text-align: center;
                }
            }
        }
    }
}

.footer{
    padding-top: 32px;
    padding-bottom: 40px;
    background-color: $primarycolor;
    color: #fff;
}
.footer-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
//nav-link占比：100/12*9
.nav-link{
    display: flex;
    width: 75%;
}
.nav-link-aTag{
    display: block;
    color: #fff;
    padding-right: 48px;
}
.nav-link-aTag:hover{
    color: $font-dark;
}
.social-link{
    display: flex;
}
.social-link-aTag{
    display: block;
    padding-left: 32px;
}
// 好醜
.social-link-aTag:hover{
    img{
        background-color: $font-dark;
    }
}
.contact-link{
    font-weight: 400;
    font-size: $font-9;
    margin-bottom: 24px;
    margin-top: 42px;
}
.contact-aTag{
    color: #fff;
    span{
        margin-right: 16px;
        font-size: 48px;
        vertical-align: middle;
    }
}
.contact-aTag:hover{
    color: $font-dark;
}
.copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.copyright-link{
    display: flex;
}
.copyright-aTag{
    display: block;
    color: #fff;
    padding-left: 48px;
}
.copyright-aTag:hover{
    color: $font-dark;
}
@include ipad{
    .footer{
        padding: 32px 0;
    }
    .nav-link-aTag{
        padding-right: 40px;
    }
    .social-link-aTag{
        padding-left: 24px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    .contact-link{
        font-size: $font-5;
        margin-bottom: 20px;
        margin-top: 24px;
    }
    .contact-aTag{
        span{
            margin-right: 8px;
            font-size: 24px;
        }
    }
    .copyright{
        margin-top: 20px;
    }
    .copyright-aTag{
        padding-left: 24px;
    }
}
@include mobile{
    .footer{
        padding-top: 24px;
        padding-bottom: 16px; //24-8(p的mb 8px)
    }
    .footer-wrap{
        flex-direction: row-reverse;
        align-items: start;
    }
    .nav-link{
        display: none;
    }
    .social-link-aTag{
        img{
            width: 24px;
            height: 24px;
        }
    }
    .contact-link{
        font-size: $font-4;
        margin-top: 0px;
        margin-bottom: 24px;
    }
    .contact-aTag{
        span{
            margin-right: 4px;
            font-size: 20px;
        }
    }
    .copyright{
        margin-top: 16px;
        font-size: $font-3-half;
        display: block;
        p{
            margin-bottom: 8px;
        }
    }
    .copyright-link{
        display: block;
    }
    .copyright-aTag{
        padding-left: 0px;
    }
}