//color-setting
$primarycolor:#AA0601;
$secondarycolor:#AA06010D;
$font-dark:#650300;
$primarycolor-dark: #000000;

//font-setting
$font: 4px;
$font-3-half: $font*3.5; //14px
$font-4: $font*4;
$font-4-half: $font*4.5; //18px
$font-5: $font*5;
$font-6: $font*6;
$font-7: $font*7;
$font-8: $font*8;
$font-9: $font*9;
$font-10-half: $font*10.5; //42px
$font-12: $font*12;
$font-16: $font*16;
$font-18: $font*18;

