//color-setting
$primarycolor:#AA0601;
$secondarycolor:#AA06010D;
$font-dark:#650300;

//font-setting
$font: 4px;
$font-3-half: $font*3.5;
$font-4: $font*4;
$font-5: $font*5;
$font-6: $font*6;
$font-8: $font*8;
$font-9: $font*9;
$font-12: $font*12;
$font-16: $font*16;
$font-18: $font*18;

